name: SonarCloud

on:
  push:
    # Publish `main` as Docker `latest` image.
    branches:
      - main
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml fi
        
    - name: Build with Maven
      
      run: mvn clean jacoco:prepare-agent install jacoco:report --file pom.xml

    - name: Publish to Sonar Report
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: mvn sonar:sonar    \
          -Dsonar.projectKey=guimsmendes_dna-simians    \
          -Dsonar.organization=guimsmendes   \
          -Dsonar.host.url=https://sonarcloud.io    \
          -Dsonar.login=$SONAR_TOKEN \
          -Dsonar.coverage.jacoco.xmlReportPaths=$(find "$(pwd)" -path '*jacoco.xml' | sed 's/.*/&/' | tr '\n' ',')

